.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    gap:5px
  }
  .btn{
      height: 50px;
      width: 100px;
  }
  .border{
    border: 0.5px solid lightgray;
    text-align: center;
    display :grid;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
  }