<h1>Profiles</h1>

<div >
  <app-profile-item 
	*ngFor="let profile of profiles$ | async"
	[profile]="profile"
    (deleteEvent)="delete($event)"
    (openChatEvent)="openChat($event)"
  >
  </app-profile-item>
</div>

<div class="container" class="col-md-6">
  <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [draggable]="true">
		<agm-marker *ngFor="let p of profiles" (markerClick)="OnMarkerClicked(p)" [title]="p.firstName" [latitude]="p.address.latitude"
		 [longitude]="p.address.longitude"></agm-marker>
	</agm-map> -->
</div>

